#page{
	background: ;
}

#header{
	width:100%;
	height:70px;
	font-size:50px;
	padding-top:10px;
	background:url('1.jpg');
	text-align:center;
	color:gold;
}
#navbar{
	width:100%;
	height:9%;
	font-size:40px;
	text-align:right;
	background:grey;
	font-size:12px;
	text-align:center;
}

#category li {
	list-style: none;
	float: left;
	display: inline;
	padding-bottom: 10px;
	padding-top: 5px;
	font-size:25px;
}

#category li a {
	display: block;
	color: white;
	padding: 10px 15px;
}

#category li a:hover {
	background: aqua;
	color: blue;
}

#content{
	width:100%;
	height:400%;
	font-size:20px;
	background:brown;
	float:center;
}
#dedek{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#abg{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#kakak{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#wah{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#ipar{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#is{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#ayah{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#us{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#ibu{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#tos{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#tante{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#pus{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#abc{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#we{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#rer{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#fys{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#asd{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
}
#ad{
	border:solid 2px black;
	width:22.5%;
	height:10.5%;
	margin-top:50px;
	margin-left:500px;
	float:left;
	
}
#pf{
	/*border:solid 2px black;*/
	width:65%;
	height:9%;
	margin-top:50px;
	float:left;
}
#tet{
	border:solid 10px black;
	width:98.5%;
	height:10%;
	margin-top:50px;
	float:left;
}
#utu{
	border:solid 10px black;
	width:98.5%;
	height:10%;
	margin-top:50px;
	float:left;
}
#con{
	width:100%;
	height:80%;
	font-size:20px;
	background:brown;
	float:left;
}
#auh{
	text-align:center;
}
#footer{
	width:100%;
	height:25px;
	padding-bottom:2px;
	background: grey;
}